.account-hero {
  margin-bottom: 249.953712rem;
  h2 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 166.635808rem;
    font-weight: $bold;
    color: $brown;
    font-family: $distro;
    text-transform: uppercase;
    span {
      font-weight: inherit;
      color: $lorange;
      font-family: inherit;
      font-size: 249.953712rem;
      text-transform: lowercase;
      position: relative;
      bottom: 27.772635rem;
      margin-left: 0.2em;
    }
    i {
      display: block;
      margin-right: 56.471024rem;
      width: 277.726347rem;
      height: 277.726347rem;
      position: relative;
      &:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url("../../assets/img/icons/user-icon.svg");
        @include bg-props(contain, center, no-repeat);
      }
    }
  }
}
.account-tabs {
  .nav-tabs {
    border-bottom: none;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -138.863173rem;
      left: 0;
      background: rgb(255, 255, 255);
      background: -moz-linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      background: -webkit-linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
      opacity: 0.05;
      width: 100%;
      height: 138.863173rem;
    }
  }
}
.block-title {
  font-size: 166.635808rem;
  font-weight: $bold;
  color: $lime;
  font-family: $distro;
  margin-bottom: 129.605629rem;
}
.info-block {
  width: 3054.989817rem;
  padding-bottom: 106.461766rem;
  border-bottom: 1px solid #d0d0d0;
  margin: 0 auto;
  &:not(:first-of-type) {
    margin-top: 324.014071rem;
  }
  form {
    input {
      border: none;
      border-bottom: 2px solid $lime;
      margin-bottom: 138.863173rem;
      &:read-only {
        background-color: #fff;
        border: none;
      }
      &.user {
        &-full-name {
          font-size: 138.863173rem;
          color: #151515;
          font-weight: $bold;
          line-height: 1.53333333;
          width: 100%;
        }
        &-email {
          font-size: 111.090539rem;
          color: #151515;
          font-weight: $regular;
          line-height: 1.53333333;
          width: 100%;
        }
      }
    }
    .form-btns {
      display: none;
      .save-user-info {
        background-color: $green !important;
        border-color: $green !important;
        padding: 46.287724rem 185.150898rem;
      }
      .cancel-user-info {
        background-color: #dc3545 !important;
        border-color: #dc3545 !important;
        padding: 46.287724rem 185.150898rem;
        margin-left: 138.863173rem;
      }
    }
  }
  .user-toolbar {
    margin-top: 64.802814rem;
    a {
      color: $brown;
      font-size: 111.090539rem;
      font-weight: $bold;
      position: relative;
      &:not(:last-of-type) {
        padding-right: 74.060359rem;
        margin-right: 74.060359rem;
        &:after {
          content: " ";
          position: absolute;
          @include ver-center();
          right: 0;
          width: 1px;
          height: 100%;
          background: #707070;
        }
      }
    }
  }
  .editable-info {
    transition: 0s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    border-bottom: 1px solid #f1e6b2;
    padding-bottom: 222.181078rem;
    margin-bottom: 222.181078rem;
    .no-address {
      font-size: 166.635808rem;
      margin-bottom: 138.863173rem;
      text-align: center;
    }
    &.waiting {
      .remove-address {
        display: none;
      }
      &:before {
        content: " ";
        position: absolute;
        @include borderRadius(46.287724rem);
        @include abs-center();
        width: 105%;
        height: 101%;
        background: rgba(0, 0, 0, 0.5);
      }
    }
    .remove-address {
      i {
        width: 175.3379rem;
        height: 187.002407rem;
        display: block;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("../../assets/img/icons/trash-icon.svg");
          @include bg-props(contain, center, no-repeat);
        }
      }
    }
    .delete-confrimation {
      display: none;
      text-align: center;
      padding: 185.150898rem 324.014071rem;
      width: 100%;
      position: absolute;
      @include abs-center();
      background: #fff;
      box-shadow: 0 27.772635rem 55.545269rem rgb(121, 181, 45, 0.3);
      @include borderRadius(277.726347rem);

      p {
        font-size: 148.120718rem;
        font-weight: $bold;
        font-family: $distro;
        text-align: center;
        margin-bottom: 185.150898rem;
      }
      a {
        font-size: 129.605629rem;
        color: #fff;
        padding: 37.03018rem 92.575449rem;
        background: $green;
        &:last-of-type {
          background: #dc3545;
          margin-left: 92.575449rem;
        }
      }
    }
    .content {
      width: 2443.991853rem;
      p {
        line-height: 1.58333333;
        font-weight: $regular;
        color: $brown;
        font-size: 111.090539rem;
        &.codice {
          margin-top: 94.426958rem;
          i {
            display: inline-block;
            position: relative;
            width: 338.733568rem;
            height: 121.458989rem;
            top: 18.51509rem;
            margin-right: 60.174042rem;
            &:before {
              content: " ";
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: url("../../assets/img/icons/hidden-icon.svg");
              @include bg-props(contain, center, no-repeat);
            }
          }
        }
      }
    }
    &-single-order {
      &:first-of-type {
        margin-top: 201.814479rem;
      }
      .img-wrapper {
        width: 790.594334rem;
        height: 790.594334rem;
        margin-right: 277.726347rem;
        img {
          @include fullSizeImg();
        }
      }
      .content {
        width: 1675.615627rem;
        .order-date {
          font-size: 111.090539rem;
          font-weight: $bold;
          color: $brown;
          margin-bottom: 81.466395rem;
        }
        .dish-title {
          font-size: 138.863173rem;
          font-weight: $bold;
          text-transform: uppercase;
        }
        .order-price {
          color: $orange;
          font-weight: $bold;
          font-size: 203.665988rem;
          font-family: $distro;
          display: flex;
          align-items: center;
          i {
            display: inline-block;
            position: relative;
            width: 278.559526rem;
            height: 278.559526rem;
            margin-left: 124.976856rem;
            &:before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: url("../../assets/img/icons/erbert-refresh-icon.svg");
              @include bg-props(contain, center, no-repeat);
            }
          }
        }
      }
    }
  }
}
.add-new-block {
  font-size: 111.090539rem;
  font-weight: $bold;
  color: #151515;
  padding-left: 324.014071rem;
  position: relative;
  &:hover {
    color: inherit;
  }
  &:before {
    content: " ";
    position: absolute;
    left: 0;
    @include ver-center();
    width: 240.696167rem;
    height: 240.696167rem;
    background: url("../../assets/img/icons/add-icon.svg");
    @include bg-props(contain, center, no-repeat);
  }
}
